config/database.php
config/domains.php
config/secrets.php
app/auth/email_sender.php
app/auth/google-callback.php
app/auth/panel_newsletter.php
app/auth/send-email.php
app/auth/sendLogin.php
app/auth/sendRegister.php
